.header-user {
    background-color: black;
    border-color: #212529;
    border: solid;
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.barra-enviar {
    background-color: black;
    border: solid;
    border-color: #212529;
    border-width: 1px;
    border-bottom: 0;
    border-right: 0;
}

.msg {
    background-color: black;
    border: solid;
    border-width: 1px;
    border-color: #212529;
    outline: none;
    color: white;
}

.msg:focus {
    outline: none;
    background-color: black;
    color: white;
}

.b-send {
    display: none;
    background-color: black;
    border-color: black;
}

.response {
    background-color: black;
    height: auto;
    border: solid;
    border-color: #212529;
    border-width: 1px;
    color: white;
}
.label-file:hover {
    opacity: 50%;
}
.response-img {
    background-color: black;
    height: auto;
    border: solid;
    border-color: #212529;
    border-width: 1px;
    color: white;
}

.msg-res {
    border: solid;
    border-width: 1px;
    border-radius: 5%;
}

.img-send:hover {
    opacity: 50%;
}